<% form_tag :controller => "pic_ups",:action=>'edit' do%>
<h1>Envío de Informes</h1>
<ul>
  <li><%= radio_button 'send','inform','day',:onclick => "Effect.Fade('week',{duration:0.0001});Effect.Fade('mounth',{duration:0.0001});"%><span>Diario</span></li>
  <li><%= radio_button 'send','inform','week',:onclick => "Effect.Appear('week',{duration:1.0});Effect.Fade('mounth',{duration:0.0001});"%><span>Semanal</span></li>
  <li><%= radio_button 'send','inform','mounth',:onclick => "Effect.Appear('mounth',{duration:1.0});Effect.Fade('week',{duration:0.0001});"%><span>Mensual</span></li>
</ul>

<div id="week" style="display:none">
  Día de la Semana:
  <%= text_field "num_day",'',:size => 1,:maxlength=>1%>
</div>

<div id="mounth" style="display:none">
Día del mes:
  <%= text_field "day",'',:size => 2,:maxlength=>2%>
</div>

<hr />
<h1>Registro de Horario Semanal</h1>
<table>
  <tr>
   <th>Lunes</th>
   <th>Martes</th>
   <th>Miercoles</th>
   <th>Jueves</th>
   <th>Viernes</th>
   <th>Sabado</th>
   <th>Domingo</th>
  </tr>
  <tr>
    <td><%=text_field 'day_1','',:size => 2,:maxlength=>2%>horas</td>
    <td><%=text_field 'day_2','',:size => 2,:maxlength=>2%>horas</td>
    <td><%=text_field 'day_3','',:size => 2,:maxlength=>2%>horas</td>
    <td><%=text_field 'day_4','',:size => 2,:maxlength=>2%>horas</td>
    <td><%=text_field 'day_5','',:size => 2,:maxlength=>2%>horas</td>
    <td><%=text_field 'day_6','',:size => 2,:maxlength=>2%>horas</td>
    <td><%=text_field 'day_7','',:size => 2,:maxlength=>2%>horas</td>
  </tr>
</table>

<hr />
<span>Description</span>
<%= text_area "description","",:cols =>"50",:rows => "10"%>

<hr />

<%= submit_tag "Guardar"%>
<%end%>
